.Modal {
  position: fixed;
  z-index: 500;
  background-color: aliceblue;
  width: 70%;
  border: 1 px solid gray;
  box-shadow: 1px 1px 1px 1px black;
  padding: 10px;
  left: 10%;
  top: 30%;
  transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
  .Modal {
    width: 500px;
    left: calc(50% - 250px);
  }
}
